{% if indoor %}
	<div class="normal medium">
		<!-- Pressure -->
		<span class="icon fas fa-tachometer-alt"></span>
		<span>{{ indoor.pressure | round | decimalSymbol }}</span>
		<span class="sensor-unit">hPa</span>

		<!-- Humidity -->
		<span class="icon fas fa-tint"></span>
		<span>
			{{ indoor.humidity | round | decimalSymbol }}
		</span>
		<span class="sensor-unit">%</span>
		{% if indoor.humidity < 40 or indoor.humidity > 60 %}
			{% if indoor.humidity < 30 or indoor.humidity > 70 %}
				<sup class="icon fas fa-exclamation-triangle"/>
			{% else %}
				<sup class="icon fas fa-exclamation"/>
			{% endif %}
		{% endif %}
	</div>
	<div class="large light">
		<!-- Temperature -->
		<span class="icon fas fa-home"></span>
		<span>
			{{ indoor.temperature | roundValue1dec | decimalSymbol }}°
		</span>
	</div>
	<div class="normal medium">
		<!-- AQI -->
		<span class="icon fas fa-viruses"></span>
		<span class="aqi-name">
			{% set aqiLabel = "AQI_" + indoor.aqi_level %}
			{{ aqiLabel | translate }}
		</span>
		<span class="aqi-value">
			{{ indoor.aqi | round | decimalSymbol }}
		</span>
		<span class="sensor-unit">%</span>
	</div>
{% else %}
	<div class="dimmed light small">
		{{ "LOADING" | translate }}
	</div>
{% endif %}
