{% if not nodata %}
	<div class="normal medium">
		<!-- Pressure -->
		<span class="icon fas fa-tachometer-alt"></span>
		<span>{{ indoor.pressure | roundValue | decimalSymbol }}</span>
		<span class="sensor-unit">hPa</span>

		<!-- Humidity -->
		<span class="icon fas fa-tint"></span>
		<span>
			{{ indoor.humidity | roundValue | decimalSymbol }}
		</span>
		<span class="sensor-unit">%</span>
		{% if indoor.humidity < 40 or indoor.humidity > 60 %}
			{% if indoor.humidity < 30 or indoor.humidity > 70 %}
				<sup class="icon fas fa-exclamation-triangle"/>
			{% else %}
				<sup class="icon fas fa-exclamation"/>
			{% endif %}
		{% endif %}
	</div>
	<div class="large light">
		<!-- Temperature -->
		<span class="icon fas fa-home"></span>
		<span>
			{{ indoor.temperature | roundValue1dec | decimalSymbol }}°
		</span>
	</div>
	<div class="normal medium">
		<!-- IAQ -->
		<span class="icon fas fa-viruses"></span>
		<span class="iaq-name">
			{% set iaqLabel = "IAQ_" + indoor.iaq_level %}
			{{ iaqLabel | translate }}
		</span>
		<span class="iaq-value">
			{{ indoor.iaq | roundValue | decimalSymbol }}
		</span>
		<span class="sensor-unit">%</span>
	</div>
{% else %}
	<div class="dimmed light small">
		{{ "LOADING" | translate }}
	</div>
{% endif %}