/*
 *
 * MMM-Bosch-BME680-sensor
 *
 * Sébastien Mazzon
 * MIT Licensed.
 *
 */
.MMM-Bosch-BME680-sensor .container {
    display: block;
    /*margin-inline-start: 4rem;*/
}

.MMM-Bosch-BME680-sensor .sensor-unit {
    font-size: 1rem;
}

.MMM-Bosch-BME680-sensor .iaq-value {
    font-size: 1rem;
    margin-inline-start: 0.5rem;
}

.MMM-Bosch-BME680-sensor .icon {
    min-width: 2rem;
    text-align: center;
}

.MMM-Bosch-BME680-sensor span:not(.icon) {
    color: var(--color-text-bright);
}
